.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.remeshBlue {
  background-color: #0073E3;
  font: Arial;
}
.remeshLogo {
  font-size: 3em;
  font-weight: bolder;
  color: white;
}
.remeshSearch {
  color: white
}

.cardBody {
  background-image: url("intro1.jpg");
  background-size: cover;
  color: white

}

.cardBody a {color:white;}         /* Unvisited link  */
.cardBody a:visited {color:white;} /* Visited link    */
.cardBody a:hover {color:white;}   /* Mouse over link */
.cardBody a:active {color:white;}  /* Selected link   */